@charset "utf-8";
/* CSS Document */
/*过渡特效*/





.box{
	width:1280px;
	height:513px;
}
.box .main{
	width:1280px;
	height:500px;
	position:relative;
}
.box .main .caption{
}
.box .main .caption h2{
	position:absolute;
	top:200px;
	left:30%;
	font-size:50px;
	margin-left:45px;
	color:#000;
	z-index:8;
	-webkit-transition:all .8s;
}
.box .main .caption h3{
	position:absolute;
	top:250px;
	left:20%;
	font-size:100px;
	margin-left:-45px;
	z-index:8;
	-webkit-transition:all .8s;
}
.box .main .main-i{
	position:absolute;
	top:0;
	left:-50%;
	z-index:1;
	opacity:0;
	 -webkit-transition:all .2s;
}
.box .ctrl {
    text-align:center;
}
.box .ctrl .ctrl-i{
	position:relative;
    display:inline-block;
	width:150px;
	height:13px;
	background-color:#666;
	z-index:8;
}

.box .ctrl .ctrl-i img{
	width:100%;
	height:auto;
	left:0;
	position:absolute;
	bottom:50px;
	opacity:0;
	-webkit-transition:all .3s
}



/*特殊时态效果*/
.box .ctrl .ctrl-i:hover{
	background-color:#CCC;
}
.box .ctrl .ctrl-i:hover img{
	opacity:1;
	bottom:13px;
    -webkit-box-reflect:below 0px -webkit-gradient(
	  linear,
	  left top,
	  left bottom,
	  from(transparent),
	  color-stop(50%,transparent),
	  to(rgba(255,255,255,0.3))
	);
	
}


.box .main .main-i_active{
	left:0;
	opacity:1;
}
.box .main .main-i_active h2{
	margin-left:0;
}
.box .main .main-i_active h3 {
	margin-left:0;
}
.box .ctrl .ctrl-i_active{
	background-color:#000;

}

